<!doctype html>
<html>
    <head></head>
<body>
<div class="col-sm-12">
      <form  action="/admin/useredit/<%=id %>" method="post">
     
           <p>user name : </p>
           <input type="text" name="uname" value='<%=username%>'>
           <br>
           <p>password : </p>
           <input type="text" name="upass" value='<%=password%>'>
           <br>
          
           <p> type: </p>
           <input type="text" name="utype" value="<%=type%>">
           <br>
           
           <input type="submit" value="save">
          </form>
      
      </div>
    </body>
</html>