<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> online book store</title>

<link href="/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
    
      <div id="templatemo_header">
    	 <h1>mazher's book store</h1>
		
    </div>
    
    
    
	<div id="templatemo_menu">
    	<ul>
            <li><a href="/customer/home" class="current">Home</a></li>
            <li><a href="">Search</a></li>
            <li><a href="/customer/books">Books</a></li>            
            <li><a href="/customer/order">order</a></li> 
            <li><a href="/customer/myprofile">my profile</a></li> 
            <li><a href="/admin/signout">signout</a></li>
    	</ul>
    </div> <!-- end of menu -->
    
 
    
    <div id="templatemo_content">
    	
        <div id="templatemo_content_left">
        
            
            
            
            
            
        </div> <!-- end of content left -->
        
        <div id="templatemo_content_right">
            
            
        	<div class="templatemo_product_box">
            	
                
                
                <h1>welcome customer</h1>
                
                
                
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            
    	<div class="cleaner_with_height">&nbsp;</div>
    
    </div> <!-- end of content -->
    
    <div id="templatemo_footer">
    
	     
        Copyright ©2019 <a href="#"><strong>mazher's book store</strong></a> | 	</div> 
    <!-- end of footer -->
<!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
    </div>
    </body>
</html>