<!DOCTYPE html>
<html>
<head>
    <title>login</title>
<link rel="stylesheet" href="assets/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="assets/style.css" type="text/css">
    

    
</head>  
  <body class="container-fluid">  
    
    
    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
   
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form  action="/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="uname" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="upass" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/login/registercustomer">new customer? register now</a>
    </div>

  </div>
</div>
      
      
      
      
      
      
      
      
    
    
    
       <script type="text/javascript" src="assets/jquery-3.1.1.min.js"></script>
    <!-- Jquery Link Part End Here -->
    <!-- Javascript Link Part Start Here -->
    <script type="text/javascript" src="assets/bootstrap.min.js"></script>
    </body>
</html>